In [11]:
import pandas as pd
import numpy as np
import warnings as warnings 
warnings.filterwarnings('ignore')
import sqlalchemy
from sqlalchemy.dialects import mysql

In [3]:
df = pd.read_csv('deepseek_vs_chatgpt.csv')

In [4]:
df.head()

,Date,Month_Num,Weekday,AI_Platform,AI_Model_Version,Active_Users,New_Users,Churned_Users,Daily_Churn_Rate,Retention_Rate,...,Session_Duration_sec,Device_Type,Language,Response_Accuracy,Response_Speed_sec,Response_Time_Category,Correction_Needed,User_Return_Frequency,Customer_Support_Interactions,Region
0,2024-09-21,9,Saturday,ChatGPT,GPT-4-turbo,500000,25000,25000,0.05,0.95,...,40,Mobile,es,0.7842,3.30,Standard,0,6,2,Antarctica (the territory South of 60 deg S)
1,2024-09-21,9,Saturday,ChatGPT,GPT-4-turbo,500000,25000,25000,0.05,0.95,...,24,Laptop/Desktop,zh,0.8194,3.28,Standard,1,2,2,Ukraine
2,2024-09-21,9,Saturday,ChatGPT,GPT-4-turbo,500000,25000,25000,0.05,0.95,...,34,Mobile,en,0.8090,3.07,Standard,0,2,0,Grenada
3,2024-09-21,9,Saturday,ChatGPT,GPT-4-turbo,500000,25000,25000,0.05,0.95,...,18,Mobile,fr,0.8233,3.06,Standard,0,9,0,Guyana
4,2024-05-16,5,Thursday,DeepSeek,DeepSeek-Chat 1.5,1700000,170000,34000,0.02,0.95,...,10,Mobile,de,0.9366,1.48,Fast,0,9,3,India

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 28 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Date                           10000 non-null  object
 1   Month_Num                      10000 non-null  int64
 2   Weekday                        10000 non-null  object
 3   AI_Platform                    10000 non-null  object
 4   AI_Model_Version               10000 non-null  object
 5   Active_Users                   10000 non-null  int64
 6   New_Users                      10000 non-null  int64
 7   Churned_Users                  10000 non-null  int64
 8   Daily_Churn_Rate               10000 non-null  float64
 9   Retention_Rate                 10000 non-null  float64
 10  User_ID                        10000 non-null  object
 11  Query_Type                     10000 non-null  object
 12  Input_Text                     10000 non-null  object
 13  Input_Text_Length              10000 non-null  int64
 14  Response_Tokens                10000 non-null  int64
 15  Topic_Category                 10000 non-null  object
 16  User_Rating                    10000 non-null  int64
 17  User_Experience_Score          10000 non-null  float64
 18  Session_Duration_sec           10000 non-null  int64
 19  Device_Type                    10000 non-null  object
 20  Language                       10000 non-null  object
 21  Response_Accuracy              9621 non-null   float64
 22  Response_Speed_sec             10000 non-null  float64
 23  Response_Time_Category         10000 non-null  object
 24  Correction_Needed              10000 non-null  int64
 25  User_Return_Frequency          10000 non-null  int64
 26  Customer_Support_Interactions  10000 non-null  int64
 27  Region                         10000 non-null  object
dtypes: float64(5), int64(11), object(12)
memory usage: 2.1+ MB

In [10]:
df[df['Response_Accuracy'].isnull()]

,Date,Month_Num,Weekday,AI_Platform,AI_Model_Version,Active_Users,New_Users,Churned_Users,Daily_Churn_Rate,Retention_Rate,...,Session_Duration_sec,Device_Type,Language,Response_Accuracy,Response_Speed_sec,Response_Time_Category,Correction_Needed,User_Return_Frequency,Customer_Support_Interactions,Region
62,2023-08-12,8,Saturday,ChatGPT,GPT-4-turbo,1150000,57500,57500,0.05,0.95,...,16,Laptop/Desktop,de,NaN,2.91,Fast,0,7,3,Moldova
86,2024-06-04,6,Tuesday,ChatGPT,GPT-4-turbo,650000,32500,32500,0.05,0.95,...,8,Laptop/Desktop,es,NaN,3.28,Standard,1,9,3,Maldives
105,2024-11-06,11,Wednesday,ChatGPT,GPT-4-turbo,400000,20000,20000,0.05,0.95,...,14,Laptop/Desktop,en,NaN,3.95,Standard,1,8,0,Western Sahara
162,2024-12-28,12,Saturday,ChatGPT,GPT-4-turbo,350000,17500,17500,0.05,0.95,...,38,Mobile,es,NaN,3.80,Standard,0,8,0,Benin
167,2024-04-19,4,Friday,DeepSeek,DeepSeek-Chat 1.5,1550000,155000,31000,0.02,0.95,...,31,Mobile,zh,NaN,1.09,Fast,0,3,3,Japan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9893,2024-10-01,10,Tuesday,ChatGPT,GPT-4-turbo,450000,22500,22500,0.05,0.95,...,21,Laptop/Desktop,en,NaN,1.90,Fast,0,3,1,Qatar
9900,2024-05-30,5,Thursday,DeepSeek,DeepSeek-Chat 1.5,1700000,170000,34000,0.02,0.95,...,10,Laptop/Desktop,de,NaN,1.48,Fast,0,5,2,Botswana
9923,2023-11-27,11,Monday,ChatGPT,GPT-4-turbo,1000000,50000,50000,0.05,0.95,...,37,Mobile,es,NaN,4.84,Standard,0,2,1,Czech Republic
9971,2024-06-25,6,Tuesday,ChatGPT,GPT-4-turbo,650000,32500,32500,0.05,0.95,...,18,Laptop/Desktop,es,NaN,3.63,Standard,0,9,1,Tunisia
9981,2023-11-01,11,Wednesday,ChatGPT,GPT-4-turbo,1000000,50000,50000,0.05,0.95,...,12,Laptop/Desktop,en,NaN,3.49,Standard,0,8,2,Czech Republic

In [12]:
engine = sqlalchemy.create_engine('mysql://root:post12345@localhost:3306/customer')

In [13]:
con = engine.connect()

In [14]:
df.to_sql('Deepseek_vs_Chatgpt', con = con, index = False)

10000